<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    * {
      padding: 0;
      margin: 0;
      margin: 0 auto;
    }

    body {
      width: 100%;
      margin: 0 auto;
      text-align: center;
    }

    #loginForm {
      margin-top: 6rem;
      width: 30rem;
      height: 20rem;
      background-color: #ddf;
      padding-top: 6rem;
    }

    label,
    input {
      margin: 1rem;
    }

    input {
      font-size: 2rem;
    }

    .mine {
      background: rgb(51, 212, 151);
    }
  </style>

  <script src="http://localhost:8080/socket.io/socket.io.js" charset="utf-8"></script>

  <script>
    let sock = io.connect('ws://localhost:8080/');

    window.onload = function () {
      let cur_username = '';

      let oBtn_reg = document.getElementById('btn_reg');
      let oBtn_login = document.getElementById('btn_login');

      let oBtnSend = document.getElementById('btn_send');

      let oU1 = document.getElementById('uli');

      let oUser = document.getElementById('user');
      let oPass = document.getElementById('pass');

      let = oTxt = document.getElementById('txt_msg');

      //注册
      sock.on('reg_ret', (code, msg) => {
        //reg_ret ==>>reg的返回值
        if (code) {
          alert('注册失败，' + msg);
        } else {
          alert('注册成功');
        }
      });

      oBtn_reg.onclick = function () {
        sock.emit('reg', oUser.value, oPass.value);
      };

      //登录
      sock.on('login_ret', (code, msg) => {
        if (code) {
          alert('登录失败，' + msg);
        } else {
          alert('登录成功');
          cur_username = oUser.value;
        }
      });

      oBtn_login.onclick = function () {
        sock.emit('login', oUser.value, oPass.value);
      };

      //消息
      sock.on('msg', (code, msg) => {
        if (code) {
          alert('消息发送失败, ' + msg);
        } else {
          let oLi = document.createElement('li');
          oLi.className = 'mine';

          oLi.innerHTML = `<h4>${cur_username}</h4><p>${oTxt.value}</p>`;
          oU1.appendChild(oLi);

          oTxt.value = '';
        }
      });

      sock.on('msg', (name, txt) => {
        let oLi = document.createElement('li');
        oLi.innerHTML = `<h4>${name}</h4><p>${txt}</p>`;
        oU1.appendChild(oLi);
      });

      oBtnSend.onclick = function () {
        sock.emit('msg', oTxt.value);
      };
    };
  </script>

</head>

<body>

  <section id="loginForm">

    <label for="">用户：</label>
    <input type="text" id="user">
    <br>
    <label for="">密码：</label>
    <input type="password" id="pass">
    <br>
    <input type="button" value="注册" id="btn_reg">
    <input type="button" value="登录" id="btn_login">

  </section>

  <textarea name="" id="txt_msg" cols="30" rows="10"></textarea>

  <input type="button" value="发送" id="btn_send">

  <ul id="ul1">

  </ul>

</body>

</html>